name: Sync2Gitee And Deploy

on:
  push:
    branches: [ master ]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Mirror the Github organization repos to Gitee.
        uses: Yikun/hub-mirror-action@master
        with:
          src: github/lghhhh
          dst: gitee/linguihao
          dst_key: ${{ secrets.GIT_RSA_PRIVATE_KEY }}
          dst_token: ${{ secrets.GITEE_TOKEN }}
          account_type: user
          white_list: "blog"

      # - name: Sync to Gitee
      #   uses: wearerequired/git-mirror-action@master
      #   env:
      #     SSH_PRIVATE_KEY: ${{ secrets.GITEE_PRIVATE_KEY }}
      #   with:
      #     source-repo: 'git@github.com:lghhhh/blog.git'
      #     destination-repo: 'git@gitee.com:linguihao/blog.git'

      - name: Build Gitee Pages
        uses: yanglbme/gitee-pages-action@master
        with:
            # 注意替换为你的 Gitee 用户名
            gitee-username: linguihao
            # 注意在 Settings->Secrets 配置 GITEE_PASSWORD
            gitee-password: ${{ secrets.GITEE_PASSWORD }}
            # 注意替换为你的 Gitee 仓库，仓库名严格区分大小写，请准确填写，否则会出错
            gitee-repo: linguihao/blog
            branch: gh-pages
            # directory: docs/.vuepress/dist